<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Blog</title>
    <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet">
</head>
<body>
<section>
    <div class="header">
        <ul class="list">
            <li><a href="{{url_for('hello')}}">HOME</a></li>
            <li><a href="{{url_for('num', number = 2)}}">num 2</a></li>
            <li><a href="{{url_for('add')}}">ADD</a></li>
        </ul>

    </div>
</section>
<section>
    {% block content %}
    {% endblock %}
</section>
</body>
</html>